.modal-container {
  max-width: 700px;
  padding: 8vh 50px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  z-index: 1000;
  text-align: center;

  .title {
    font-size: 60px;
    margin: 0;
    letter-spacing: -0.05em;
    font-weight: 700;
  }
  .subtext {
    font-weight: 600;
    margin-top: -5px;
  }

  .btn-wrapper {
    padding-top: 30px;
  }
}
